[gcode_macro _KOMB_Variables]
description: User Variables for Nozzle_Brush macro

variable_verbose_enable:        True      # Ponecháme zapnuté info výpisy
variable_verbose_points:        True

# Poloha brushu - ľavý zadný roh
variable_brush_location_x:      77       # X pozícia ľavého spodného rohu brushu
variable_brush_location_y:      307       # Y pozícia ľavého spodného rohu brushu
variable_brush_location_z:      1         # Z výška, na ktorú má ísť tryska pre brushing

# Rozmery brushu
variable_brush_size_x:          30        # šírka v osi X
variable_brush_size_y:          3         # hĺbka v osi Y
variable_brush_size_z:          1         # maximálne ponorenie do brushu

# Pohyby
variable_z_hop_height:          2
variable_step:                  1
variable_z_step:                0
variable_offset:                0
variable_repeat:                0
variable_reverse_enable:        False
variable_speed:                 150
variable_speed_up:              10
variable_travel_speed:          350

# Pattern nastavenie
variable_pattern:               1
variable_angle:                 45
variable_start_opposite_side:   False
variable_start_adjacent_side:   False

# Automatika
variable_auto_home_enable:      True
variable_clean_while_cold:      True
variable_auto_heat_nozzle:      False

# Retract nastavenia
variable_retract_before_wipe:   1
variable_retract_during_wipe:   0.5
variable_retract_after_wipe:    2

# Teplota
variable_temp:                  150

# Purge nastavenia (ak máš purge bucket)
variable_purge_location_x:      95
variable_purge_location_y:      100
variable_purge_location_z:      5
variable_purge_amount:          0
variable_purge_speed:           20
variable_wait_time:             5

# Návrat a trigger
variable_return_to_start:       True
variable_trigger_freq:          1

gcode: 
    { action_respond_info(" Running the KOMB_Variables macro does nothing, it is only used for storing settings :) ") }